main {
  @include transition(0.3s ease-in, 0.3s);
  @include transform(scale(0.95, 0.95));
  @include opacity(0);

  [aria-busy=false] & {
    @include transform(scale(1, 1));
    @include opacity(1);
  }

  .center > h1 {
    @include text-shadow(1px 1px 1px lighten($blue, 30%));
    color: $blue;
    margin: rhythm(1) 0 rhythm(1.5);
    width: 200%;
    margin-left: -50%;
  }
}

header {
  .icon {
    margin: rhythm(1) auto 0;
    text-align: center;
    display: block;
    width: 5rem;
    height: 5rem;
  }
}
