// color palette: http://paletton.com/#uid=33z0u0koUBKeLO-kfHCuPyqxmpr

$border-radius: 5px;
$darkgray: #333;
$green: #78DFB8;
$blue: #094983;
$orange: #ff7639;
$input-focus-color: gray;
$checkbox-focus-color: black;
